<nav class="nav__bar__main">
  <div class="nav__div">
    <%= form_with url: root_path, method: :get do %>
      <h1 class="cook__book">Cook Book</h1>
    <% end %>
    <% if current_user%>
      <%= form_with url: foods_path, method: :get do %>
        <button class="foods__btn">Foods</button>
      <% end %>
    <% end %>
     <% if current_user%>
      <%= form_with url: recipes_path, method: :get do %>
        <button class="recipes__btn">Recipes</button>
      <% end %>
    <% end %>
      <%= form_with url: public_recipe_path, method: :get do %>
        <button class="public__btn">Public Recipes</button>
      <% end %>
        <% if current_user%>
      <%= form_with url: general_shopping_list_path, method: :get do %>
        <button class="shop__btn">Shoping List</button>
      <% end %>
    <% end %>
  </div>
  <div class='flex sm:justify-between space-x-4'>
    <% unless current_user%>
    <%= form_with model: User.new, url: new_user_session_path, method: :get, class:'log' do %>
      <button class="signIn__btn"> Sign in</button>
    <% end %>
    <%= form_with model: User.new, url: new_user_registration_path, method: :get, class:'log' do %>
      <button class="signUp__btn">Sign up</button>
    <% end %>
  <% end %>
  <% if current_user %>
    <%=form_with model: User.new, url: destroy_user_session_path, data: { turbo_method: :delete },
class:'sign-out' do %> 
      <button class="signOut__btn">Sign out</button>
    <% end %>
    <span class='alert'>
     <p class="welcome">Welcome <%= current_user.name%></p>
    </span>
  <% end %>
  </div>
</nav>
