<nav class="flex m-4 justify-between  bg-blue-300">
  <div class=''>
    <%= form_with url: root_path, method: :get do %>
      <button class=''>Recipe App</button>
    <% end %>
    <% if current_user%>
      <%= form_with url: foods_path, method: :get do %>
        <button class=''>Foods</button>
      <% end %>
    <% end %>
  </div>
  <div class=''>
    <% unless current_user%>
    <%= form_with model: User.new, url: new_user_session_path, method: :get, class:'log' do %>
      <button> Sign in</button>
    <% end %>
    <%= form_with model: User.new, url: new_user_registration_path, method: :get, class:'log' do %>
      <button>Sign up</button>
    <% end %>
  <% end %>
  <% if current_user %>
    <%=form_with model: User.new, url: destroy_user_session_path, data: { turbo_method: :delete },
class:'sign-out' do %> 
      <button>Sign out</button>
    <% end %>
    <%=form_with model: User.new, url: destroy_user_session_path, method: :delete, class:'sign-out' do %> 
      <button>Edit Profile</button>
    <% end %>
    <span class='alert'>
     <p>Welcome <%= current_user.name%></p>
    </span>
  <% end %>
  </div>
</nav>
